# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/
env/
ENV/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Logs
# =========================
*.log
logs/
gunicorn.log
error.log

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node (si usas Vite/Vue)
# =========================
node_modules/
dist/